
.Navbar{
    background-color: black;
    padding: 2rem 5rem;
    /* width: 100%; */
    
    
} 
.fixed_Navbar{
    position: sticky;
    top: 0%;
    width: 100%;
    z-index: 1000;
}
.Navbar_flex{
    display: flex;
    align-items: left;
    justify-content: space-between;

}
.logo{
   width: 10%;
   /* background-color: #000; */
}
.logo img{
    height: 20px;
    /* background-color: #000; */
 }
.Navbar_link{
    display: flex;
    justify-content: space-between;
    /* width: 0%; */
    /* background-color: #000; */
}

.Navbar_link ul{
    display: flex;
    gap: 30px;
   align-items: left;
   justify-content: space-between;
   flex-wrap: wrap;
   
  
}
.Navbar_link ul {
    color: blue;
  font-weight: bold;
}
.Navbar_link ul img{
  cursor: pointer;
}
.dark-mode .Navbar_link ul img{
  fill: aliceblue;
  background-color: white;
  border-radius: 50px;
  
}
.Navbar_link .link{
    color: white;
/* font-family: Montserrat; */
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}
.Navbar_link .link:hover{
  /* border-bottom: 2px solid #fdbe00; */

}

.nav_btn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav_btn .login{
    background: none;
    border: 2px solid white;
    width: 108px;
    height: 48px;
    font-size: 15px;

    font-weight: 500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.nav_btn .sign{
    background: white;
    border: 2px solid white;
    width: 108px;
    height: 48px;
    font-size: 15px;
    font-weight: 500;
    color: #0049FF;
    border-radius: 5px;
    cursor: pointer;
}

.hambuger{
    display: none;
}


.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
    padding: 0;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line_top_bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
    height: 1rem;
    /* border: 1px solid #903AFF; */
    border-radius: 50%;
  }
  
  .hamburger input:checked + svg .line_top_bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
 .Nav_link{
  display: flex;
  /* width: 100%; */
  /* justify-content: space-around; */
 
 }
 @media screen  and (max-width: 1024px){
  *{
    max-width: 100%;
    
  }
  .fixed_Navbar{
    position: sticky;
    top: 0%;
    width: 100%;
    z-index: 1000;
}
 
.logo{
    width: 100%;
    /* background-color: #000; */
 }
 .Navbar_link{
    display: flex;
    justify-content: space-between;

    width: 100%;
    /* background-color: #000; */
}
  .hambuger{
      display: block;
      z-index: 20000;
  }
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    /* margin-top: -20%; */
  }
  .Nav_link{
      display: block;
  }

  .Navbar{
      display: flex;
      gap: 100px;
      justify-content: space-between;
      align-items: left;
      padding: 0rem 2rem;
      position: sticky;
     
      /* width: 100%; */
  }
.navbtn{
display: block;
margin-left: 50px;
}
  #Nav_link{
      width: 100%;
      padding: 2rem 0rem;
      text-align: left;
      height: 100vh;
      border: 0.5px solid rgba(255, 255, 255, 0.04);
      background: white;
      backdrop-filter: blur(30px);
      top: 100%;
      z-index: 1000;
      overflow: hidden;
      left: 0%;
      position: absolute;
      transform: translateX(-100%);
  }
 
  .Nav_link.open{
      transition: 0.5s ease-in-out;
      display: block;
      overflow: hidden;
      transform: translateX(-100%);
  }
  #Nav_link.open{
    transition: 0.5s ease-in-out;
    display: block;
    overflow: hidden;
    transform: translateX(0%);
    
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
    height: 3rem;
    /* border: 1px solid #903AFF; */
    border-radius: 50%;
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  .dark-mode .logo{
    background: none;
  }

  .dark-mode .Navbar_link{
    background: none;
  }
 }

  
  @media screen  and (max-width:768px){
    *{
      max-width: 100%;
      
    }
    .fixed_Navbar{
        position: sticky;
        top: 0%;
        max-width: 100%;
        z-index: 1000;

    }
  
    .logo{
        width: 100%;
     }
  
    .nav_btn{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-left: 30px;
    }
  
    .hambuger{
        display: block;
        z-index: 20000;
    }
    .hamburger svg {
      /* The size of the SVG defines the overall size */
      height: 3em;
       
      /* Define the transition for transforming the SVG */
      transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    /* .Nav-link{
        display: block;
    } */
    .Navbar{
        position: sticky;
        top: 0%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        align-items: center;
        padding: 1rem 2rem;
        /* position: relative; */
        /* background-color: #fdbe00; */
        z-index: 1000;
        /* width: 100%; */
    }
    .Navbar_link {
      display: flex;
      gap: 100px;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     
     /* padding: 2rem 10rem; */
     padding-top: 3rem;
     padding-bottom: 3rem;
     padding-left: 5rem;
     padding-right: 15rem;
     flex-wrap: wrap;
     text-decoration: none;
  }
.navbtn{
  display: block;
  margin-left: 50px;
}
.dark-mode .Navbar_link{
  background: none;
}
.Navbar_link ul{
display: flex;
  gap: 50px;
 align-items: center;
 justify-content: left;
 text-align: left;
 padding-top: 0rem;
 padding-bottom: 3rem;
 padding-left: 2rem;
 padding-right: 15rem;
 flex-wrap: wrap;
 text-decoration: none;
}
    #Nav_link{
        width: 100%;
        padding: 5rem 0rem;
        /* text-align: left; */
        height: 100vh;
        border: 0.5px solid rgba(255, 255, 255, 0.04);
        background: black;
        backdrop-filter: blur(30px);
        top: 100%;
        z-index: 1000;
        overflow: hidden;
        left: 0%;
        position: absolute;
        transform: translateX(-100%);
    }
   
    .Nav_link.open{
        transition: 0.5s ease-in-out;
        display: block;
        /* overflow: hidden; */
        transform: translateX(-100%);
    }
    #Nav_link.open{
      transition: 0.5s ease-in-out;
      display: block;
      overflow: hidden;
      transform: translateX(0%);
      
    }
    

  }